<%# Formulario de show  que espara hacer preguntas%>
<% arrayPreguntas = @quiz.preguntas.split(";") %>
<% arrayRespuestas1 = @quiz.respuestas.split(";") %>
<%#  arrayRespuestas1 = ["sa, da, sd", "as, das, dasd", "sa, das,das"]%>
<% arrayRespuestas2 = [] %>
<%arrayRespuestas1.each do |r| %>
  <%arrayRespuestas2.push(r.split(","))  %>
    <% end %>
<

<div id="container">
  <header>
    <h1><%=@quiz.nombre%></h1>
    <p>Evalua tu conocimiento en <strong>Educación Financiera</strong></p>
  </header>
  <section>
    <div id="results"></div>
    <div data-controller="get-form">
      <form name="quizForm"  data-get-form-target="content" action="/courses" method="post">
        <h3>1. <%= arrayPreguntas[0] %> </h3>
        <input type="radio" name="q1" value="a" id="q1a" data-action="input->get-form#revealContent1">a. <%=arrayRespuestas2[0][0]%><br>
        <input type="radio" name="q1" value="b" id="q1b">b. <%=arrayRespuestas2[0][1]%><br>
        <input type="radio" name="q1" value="c" id="q1c">c. <%=arrayRespuestas2[0][2]%><br>

        <br><br>
        <h3>2. <%= arrayPreguntas[1] %></h3>
        <input type="radio" name="q2" value="a" id="q2a" data-action="input->get-form#revealContent2">a. <%=arrayRespuestas2[1][0]%><br>
        <input type="radio" name="q2" value="b" id="q2b">b. <%=arrayRespuestas2[1][1]%><br>
        <input type="radio" name="q2" value="c" id="q2c">c. <%=arrayRespuestas2[1][2]%><br>

        <br><br>
        <h3>3. <%= arrayPreguntas[2] %></h3>
        <input type="radio" name="q3" value="a" id="q3a">a. <%=arrayRespuestas2[2][0]%><br>
        <input type="radio" name="q3" value="b" id="q3b" data-action="input->get-form#revealContent3">b. <%=arrayRespuestas2[2][1]%><br>
        <input type="radio" name="q3" value="c" id="q3c">c. <%=arrayRespuestas2[2][2]%><br>


        <br><br>
        <button data-action="click->get-form#revealContent4">Submit</button>

      </form>
    </div>

  </section>
</div>

<div data-controller="get-form" action="/courses">
  PIN: <input data-get-form-target="content" type="text" value="1234" readonly>
  <button data-action="click->get-form#revealContent">Copy to Clipboard</button>
</div>


<div class="btn"><%= link_to "Volver al modulo",section_path(@section)  %></div>
