<div class="banner" style="background-image: url('https://res.cloudinary.com/dydeg1evr/image/upload/v1652999187/development/background_xtnjjj.png')">
  <div class="container_uno p-5">

    <h1>Aprende de todo</h1>
    <p>Lo que no se enseña en el colegio y más</p>

    <% unless user_signed_in? %>
      <a href="#" class="btn-banner"> <%= link_to "Registarme" , new_user_registration_path,class: 'btn btn-primary' %></a>
    <% end %>
    <a href="#" class="btn-banner"> <%= link_to "Ver todos los Cursos" , courses_index_path,class: 'btn btn-primary' %></a>

  </div>
</div>

<div class="small-container">
  <header class="text-center row flex-column middle-xs f-gap-medium">
  <h3>BeyondSchool</h3>
  <%# <img height="30" alt="Logo de Código Facilito" src="/assets/logo-cbf2a784ebee5d642aa7b8182df3e388d4feba0a23577eed1d2747fa05861f73.png">%>
  <p class="h1 f-text-48 no-margin">
  La plataforma
  <br>
  de aprendizaje para
  <br>
  ampliar tus conocimientos
  </p>
  <p class="h4 rb-normal no-margin-bottom f-grey-dark-text transparent-72">
  Aprende sobre finanzas, educación sexual, nutrición, nuevas tecnologías y muchos más.
  <strong>Desde tu casa.</strong>
  </p>
  </header>
</div>


<div class="f-padding-x f-padding-y-100 ds-section">
  <div class="main-container">
    <header class="text-center f-top f-bottom">
      <p class="h1 f-text-36 no-margin">Así funciona BeyondSchool</p>
      <div class="row text-center f-top" style="gap:25px;">
      <div class="col-sm no-padding col-xs-12"><div class="box"><div class="top-space">
      <%# <img height="129" src="/assets/svg/learn-code-69f62c8c13e07e612bcc085d1096c7a3cd1a51cf4188891698da1e2ea193385d.svg"> %>
      <i class="fa-brands fa-leanpub fa-2xl"></i>
      <p class="h1 f-top">Aprende desde 0</p>
      <p class="no-margin-top no-margin-bottom h4 rb-normal container-70">
      Ningun conocimiento es inalcanzable. Aprende los fundamentos básicos del curso que elijas.
      </p>
      </div>
      </div></div><div class="col-sm no-padding no-margin-xs col-xs-12"><div class="box"><div class="f-top-xs">
      <div class="top-space">
      <%# <img height="129" src="/assets/svg/learn-deeper-ee4e9763d6e82f3ffe4683d1c823fd211e3583e7a51f98bacd5dd168ae8801fa.svg"> %>
      <i class="far fa-clock fa-2xl"></i>
      <p class="h1 f-top">Estudia a tu ritmo y profundiza</p>
      <p class="no-margin-top no-margin-bottom h4 rb-normal container-70">
      ¿Quieres saber más que sólo los fundamentos? Profundiza el conocimiento más allá de lo básico con nuestra amplia gama de especializaciones.
      </p>
      </div>
      </div>
      </div></div><div class="col-sm no-padding col-xs-12"><div class="box"><div class="top-space">
      <%# <img height="129" src="/assets/svg/prepare-c3094c27c18eb693116c68ebcae88073ea94eaebadd215e9f14819557ac933e6.svg"> %>
      <i class="fas fa-tools fa-2xl"></i>
      <p class="h1 f-top">Adquiere herramientas útiles para tu vida cotidiana</p>
      <p class="no-margin-top no-margin-bottom h4 rb-normal container-70">
      Consigue las habilidades que necesitas para tener una visión mas conciente del mundo en el que vivimos.
      </p>
      </div>
      </div></div></div>
    </header>
  </div>
</div>

<div class="container">

    <div class="card1">
      <div class="row justify-content-between">
      <% @courses.each do |course| %>
        <div class="carta col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <% if course.photo.key %>
            <%= cl_image_tag course.photo.key, style: "height: 200px; width: 100%;"%>
          <% else %>
          <%= image_tag "Educacion-financiera.jpg" %>
          <% end %>
          <div class="calle">
            <h2 class="text-center"><%= course.titulo.capitalize %></h2>
            <p>Duración: <%= course.duracion %> hrs.</p>
            <% unless user_signed_in? %>
              <%= link_to "Ver el Curso", new_user_session_path %>
            <% else %>
             <%= link_to "Ver el Curso", course_path(course) %>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>

 </div>
