<div class="banner" style="background-image: url('https://res.cloudinary.com/dydeg1evr/image/upload/v1652999187/development/background_xtnjjj.png')">
  <div class="container_uno p-5">

    <h1>Aprende de todo</h1>
    <p>Lo que no se enseña en el colegio y más</p>

    <% unless user_signed_in? %>
      <a href="#" class="btn-banner"> <%= link_to "Registarme" , new_user_registration_path,class: 'btn btn-outline-primary' %></a>
    <% end %>
    <a href="#" class="btn-banner"> <%= link_to "Ver todos los Cursos" , courses_index_path,class: 'btn btn-outline-primary' %></a>

  </div>
</div>



<div class="container">

    <div class="card1">
      <div class="row justify-content-between">
      <% @courses.each do |course| %>
        <div class="carta col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <% if course.photo.key %>
            <%= cl_image_tag course.photo.key, style: "height: 200px; width: 100%;"%>
          <% else %>
          <%= image_tag "Educacion-financiera.jpg" %>
          <% end %>
          <div class="calle">
            <h2 class="text-center"><%= course.titulo.capitalize %></h2>
            <p>Duración: <%= course.duracion %> hrs.</p>
            <% unless user_signed_in? %>
              <%= link_to "Ver el Curso", new_user_session_path %>
            <% else %>
             <%= link_to "Ver el Curso", course_path(course) %>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>

 </div>
