<div class="banner" style="background-image: url('https://res.cloudinary.com/dydeg1evr/image/upload/v1652999187/development/background_xtnjjj.png')">
  <div class="container_uno p-5">

    <h1>Aprende de todo</h1>
    <p>Lo que no se enseña en el colegio y más</p>

    <% unless user_signed_in? %>
      <a href="#" class="btn-banner"> <%= link_to "Registarme" , new_user_registration_path,class: 'btn btn-primary' %></a>
    <% end %>
    <a href="#" class="btn-banner"> <%= link_to "Ver todos los Cursos" , courses_index_path,class: 'btn btn-primary' %></a>

  </div>
</div>

<div class="small-container">
  <header class="text-center row flex-column middle-xs f-gap-medium">
  <%# <img height="30" alt="Logo de Código Facilito" src="/assets/logo-cbf2a784ebee5d642aa7b8182df3e388d4feba0a23577eed1d2747fa05861f73.png">%>
  <p class="h1 f-text-48 no-margin">
  La plataforma
  <br>
  de aprendizaje
  <br>
  para apliar tus conocimientos
  </p>
  <p class="h4 rb-normal no-margin-bottom f-grey-dark-text transparent-72">
  Aprende desarrollo web con HTML5, CSS y JavaScript. Backend con Python. React, Go, Laravel. Desarrollo móvil con Android, Flutter y mucho más.
  <strong>Desde tu casa.</strong>
  </p>
  </header>
</div>

<div class="container">

    <div class="card1">
      <div class="row justify-content-between">
      <% @courses.each do |course| %>
        <div class="carta col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <% if course.photo.key %>
            <%= cl_image_tag course.photo.key, style: "height: 200px; width: 100%;"%>
          <% else %>
          <%= image_tag "Educacion-financiera.jpg" %>
          <% end %>
          <div class="calle">
            <h2 class="text-center"><%= course.titulo.capitalize %></h2>
            <p>Duración: <%= course.duracion %> hrs.</p>
            <% unless user_signed_in? %>
              <%= link_to "Ver el Curso", new_user_session_path %>
            <% else %>
             <%= link_to "Ver el Curso", course_path(course) %>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>

 </div>
