<div class="container row">
<div class="col-3">
 <ul class="list-unstyled ps-0 sticky-top">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed mt-3 fs-3" id="curso-link" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true"><i class="fas fa-caret-down fs-5"></i>
          Cursos
        </button>
        <hr>
        <div class="collapse show" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small list-group">
            <% @courses.each do |course| %>
              <li class="p-2" id="curso-link"><i class="fas fa-graduation-cap"></i><a class="text-dark fs-7" href="#<%= course.id %>"> <%= course.titulo %></a></li>
              <%# no me deja toma el text-decoration-none %>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>
</div>

<%# #Si el curso estatus está como true
  #entonces mostrar una carta que muestra que ya está hecho
  #Si no, entonces mostrar %>

<div class="col-9 mt-5 ml-2">
  <% @courses.each do |course| %>
    <div class="justify-content-end mr-3" id="<%= course.id %>">
      <div>


        <div class="card-product mb-5" id="absolute">
          <div class="foto">
            <%= cl_image_tag course.photo.key%>
          </div>
          <div class="card-product-infos p-5">
            <div class="card-superior">
              <h2><%=course.titulo%></h2>
              <p> <strong>Duracion del curso </strong><%=course.duracion%> minutos</p>
            </div>
            <div class="card-inferior">
              <p><%= course.detalle.truncate(220) %></p>
            </div>
              <div>

              <%= link_to "Comenzar este curso", course_path(course), class: "btn btn-primary m-3 float-end" %>
              <%# <% if current_user.course_id =  %>

              <% current_user.user_courses.each do |curso| %>

              <% if course.id == curso.course_id && curso.status%>
                <%= link_to "Dejar una review", new_course_review_path(course), class: "btn btn-primary m-3 float-end" %>
                <%=  cl_image_tag("Red_and_Gold_Transparent_Rosette_Ribbon_PNG_Clipart_ap6y2z.png", :id=>"relative") %>
              <% end %>
            <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col text-center">
      <a href="/" class="btn btn-secondary btn-lg" id="botonVolver" role="button">Volver</a>
    </div>
  </div>
</div>
