<h1> Mis Cursos </h1>
<div class="container">
  <% @courses.each do |course| %>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card-product mb-5">
          <div class="foto">
            <%= cl_image_tag course.photo.key, style: "height: 200px; width: 100%;"%>
          </div>
          <div class="card-product-infos p-5">
            <div class="card-superior">
              <h2><%=course.titulo%></h2>
              <p> <strong>Duracion del curso    </strong><%=course.duracion%> minutos</p>
            </div>
            <div class="card-inferior">
              <p><%= course.detalle %></p>
            </div>
              <div>
                <button type="button" class="btn btn-dark pt-2 text-center"><%= link_to "Comenzar este curso", course_path(course) %></button>
              </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
