<div class="banner1">
  <div class="p-5 bg-dark text-white">
    <div class="row">
      <div class="col-6">
        <h1>
          <%= @course.titulo %>
        </h1>
        <p> <strong>Duracion del curso</strong>
          <%= @course.duracion %> hrs
        </p>
        <h6>
          <%= @course.detalle %>
        </h6>
      </div>
      <div class="col-6 text-center">
        <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" style="height: 150px" title="YouTube video" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="card1">
    <div class="row justify-content-between">
      <% @course.sections.each do |section| %>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <% unless user_signed_in? %>
              <%= link_to new_user_session_path do %>
              <section class="cards3d p-3">
                <figure class="card3d">
                  <figcaption class="card-title3d">
                    <%= image_tag "Educacion-financiera.jpg", style: "height: 150px; width: 100%; object-fit: contain;" %>
                      <div class="calle">
                        <h2 class="text-center">
                          <%= section.nombre.capitalize %></h2>
                        <p class="p-2 text-center"><%= section.descripcion %></p>
                      </div>
                  </figcaption>
                </figure>
              </section>
              <% end %>
            <% else %>
              <%= link_to section_path(section) do %>
              <section class="cards3d p-3">
                <figure class="card3d">
                  <figcaption class="card-title3d">
                    <%= image_tag "Educacion-financiera.jpg", style: "height: 150px; width: 100%; object-fit: contain;" %>
                      <div class="calle">
                        <h2 class="text-center">
                          <%= section.nombre.capitalize %></h2>
                        <p class="p-2 text-center"><%= section.descripcion %></p>
                      </div>
                  </figcaption>
                </figure>
              </section>
              <% end %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>

<div class="container mb-3">
  <% @course.reviews.each do |review| %>
    <!-- <p><%=  review.id %></p> -->
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card-review">
          <%# #Agregar source avatar estandar %>
            <img src='' class="avatar-large" />
            <div class="card-review-content text-center">
              <p><small><%= current_user.first_name %><%= current_user.last_name %></small></p>
              <% count=0 %>
              <% 5.times do %>
                <% if review.rating> count %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
              <% count +=1 %>
              <% end %>
              <p>
              <%= review.comentario %>
              </p>
            </div>
            <br>


            <div class="card-review-actions text-center p-4">
              <% if review.user.email===current_user.email %>
                <a href="#">
                  <%=link_to "Editar review" , edit_review_path(review), method: :update %> <i
                      class="fas fa-pencil-alt"></i>
                </a>
                <a href="#">
                  <%=link_to "Eliminar" , review_path(review), method: :delete %> <i class="far fa-trash-alt"></i>
                </a>
                <% end %>
            </div>
        </div>
    </div>
    </div>
      <% end %>

</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <a href="/courses" class="btn btn-secondary btn-lg" id="botonVolver" role="button">Volver</a>
    </div>
  </div>
</div>
