<div class="banner1">
  <div class="p-5 bg-dark text-white">
    <div class="row">
      <div class="col-6">
        <h1>
          <%= @course.titulo %>
        </h1>
        <p> <strong>Duracion del curso</strong>
          <%= @course.duracion %> hrs
        </p>
        <h6>
          <%= @course.detalle %>
        </h6>
      </div>
      <div class="col-6 text-center">
        <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" style="height: 150px" title="YouTube video" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="card1">
    <div class="row justify-content-between">
      <% @course.sections.each do |section| %>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <% unless user_signed_in? %>
              <%= link_to new_user_session_path do %>
              <section class="cards3d p-3">
                <figure class="card3d">
                  <figcaption class="card-title3d">
                    <%= image_tag "Educacion-financiera.jpg", style: "height: 150px; width: 100%; object-fit: contain;" %>
                      <div class="calle">
                        <h2 class="text-center">
                          <%= section.nombre.capitalize %></h2>
                        <p class="p-2 text-center"><%= section.descripcion %></p>
                      </div>
                  </figcaption>
                </figure>
              </section>
              <% end %>
            <% else %>
              <%= link_to section_path(section) do %>
              <section class="cards3d p-3">
                <figure class="card3d">
                  <figcaption class="card-title3d">
                    <%= image_tag "Educacion-financiera.jpg", style: "height: 150px; width: 100%; object-fit: contain;" %>
                      <div class="calle">
                        <h2 class="text-center">
                          <%= section.nombre.capitalize %></h2>
                        <p class="p-2 text-center"><%= section.descripcion %></p>
                      </div>
                  </figcaption>
                </figure>
              </section>
              <% end %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>

<div class="container">
  <% @course.reviews.each do |review| %>
      <p><%=  review.user.first_name %> dijo: "<%=review.comentario%>"</p>
      <p><%= review.rating %></p>
      <% if review.user.email === current_user.email %>
        <%=link_to "Eliminar review" , review_path(review), class:"btn btn-outline-primary", method: :delete %>
        <%= review.id  %>
        <%=link_to "Editar review" , edit_review_path(review), class:"btn btn-outline-primary", method: :update %>
      <% end %>
  <% end %>
  <br>
</div>
