<div class="banner">
  <div class="container_uno p-5">
    <div class="row course">
      <div class="col-6">
        <h1>
          <%= @course.titulo %>
        </h1>
        <p> <strong>Duracion del curso</strong>
          <%= @course.duracion %> hrs
        </p>
        <h6>
          <%= @course.detalle %>
        </h6>
      </div>
      <div class="col-6 text-center">
        <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="card1">
    <div class="row justify-content-evenly">
      <% @course.sections.each do |section| %>
        <div class="carta">
          <%= image_tag "Educacion-financiera.jpg" %>
            <div class="calle">
              <h2 class="text-center">
                <%= section.nombre.capitalize %>
              </h2>
              <p>
                <%= section.descripcion %>
              </p>
              <% unless user_signed_in? %>
                <%= link_to "Iniciar Módulo" , new_user_session_path %>
              <% else %>
                <%= link_to "Iniciar Módulo" , section_path(section) %>
              <% end %>
            </div>
        </div>
        <% end %>
    </div>
  </div>

</div>

<div class="container">
  <% @course.reviews.each do |review| %>
      <p><%=  review.id %></p>
      <p><%= review.comentario %></p>
      <p><%= review.rating %></p>
      

  <% end %>
  <br>
</div>
